@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";

.body {
  margin: 0%;
  padding: 0%;
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
}
.home {
 
  
  height: 90vh;
  text-shadow: 5px 5px 4px rgb(0, 0, 0.1);
}
.dark {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("public/img/2255f80e-4d4d-4826-8848-bf5710cdb089.jpeg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  width: 100%;
}

.about {

  
}
.about1 {
  font-size: 17px;
}

.about2 {
  background-image: url("public/img/container-817406_1280.jpg");
  background-size: cover;
  background-position: center;
}
.head {
  font-size: 10px;
}
