@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@import "tailwindcss";


@keyframes dotPulse {
0%, 100% {
transform: translateY(0);
opacity: 0.4;
}
50% {
transform: translateY(-6px);
opacity: 1;
}
}

.dot {
animation: dotPulse 1.2s infinite ease-in-out;
}

.dot-2 {
animation-delay: 250ms;
}

.dot-3 {
animation-delay: 500ms;
}

@keyframes loadingLine {
0% {
transform: translateX(-100%);
}
100% {
transform: translateX(300%);
}
}

.animate-loadingLine {
animation: loadingLine 1.5s infinite ease-in-out;
}

.head {
  font-size: 10px;
}
